@charset "UTF-8";

body {
    background-color: rgb(227, 210, 165);
    font-family: Arial, Helvetica, sans-serif;
}

h1#main {
    text-align: center;
    background-color: green;
    color: white;
}
h1 {
    color: rgb(60, 89, 17);
}

h2 {
    color: rgb(157, 125, 64);
}

.basico {
    color: rgb(172, 150, 119);
    font-weight: bold;
}
.intermediario {
    color: rgb(154, 67, 236);
}

.avancado {
    color: rgb(122, 13, 232);
}

.destaque {
    background-color: rgb(245, 245, 159);
}