@charset "UTF-8";

/* versão mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*incluir a borda no calculo do tamanho*/
}

html {
    height: 100vh;
}

body {
    background: black url('../back-phone.jpg');
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.549);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: ;
    text-shadow: 2px 2px 2px rgb(rgb(84, 64, 64), green, blue);
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block;}
img#tv { display: none;}
img#pc { display: none;}
img#print { display: none;}
img#tablet { display: none;}