@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #D6D58E, #DBF227);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1489d1;
    width: 600px;
    padding: 10px;
    margin: auto; /*vai centralizar o html mesmo mudando o tamanho da pági
    na*/
}
h1 {
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2px #0a5a8c;
}

h2 {
    color: #005C53;
}

p {
    text-align: justify;
}